.important {
    color: red;
}

.done {
    color: rgb(39, 192, 39);
}

.working {
    color: coral;
}

.art_trade {
    color: forestgreen;
}

body {
    background-color: #7d3d8d;
    color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
}